@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

body {
    font-family: "Hind Madurai", sans-serif;
}

.font-Hind-Madurai {
    font-family: "Hind Madurai", sans-serif;
}

.green-10 {
    background-color: rgb(65, 255, 107, 10%);
}

.green-100 {
    background-color: #00A63E;
}